<section class="hero-section">
  <div class="container">
    <h1 class="fw-bold">About</h1>
  </div>
</section>

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <p class="text-center">The <strong>Manitoba Council of Administrative Tribunals (MCAT)</strong> is a provincial organization dedicated to promoting administrative justice and supporting the work of administrative tribunals.</p>
          
          <h2>Our Mission</h2>
          <ul>
              <li><strong>Enhancing and expanding connections</strong> among members of the administrative justice community.</li>
              <li><strong>Promoting awareness</strong> of the role and importance of administrative justice in everyday life.</li>
              <li><strong>Advocating on key issues</strong> that impact the administrative justice sector.</li>
              <li><strong>Providing valuable support and services</strong> to our members.</li>
          </ul>
          
          <p>We strive to keep our members informed about emerging issues through forums for discussion, education, research, and policy development across all fields of administrative justice.</p>
          <br><br><br>
      </div>
  </div>
</div>