body {
  font-family: Arial, sans-serif;
}
.hero-section {
  background-color: rgb(255, 255, 255); /* Light background for contrast */
  background-size: 150px; /* Adjust the image size */
  background-position: center top;
  padding: 100px 0; /* Adjust padding to center content */
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
  font-size: 18px;
  line-height: 1.6;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 2rem;
  margin-top: 20px;
}
p, li {
  font-size: 1.2rem;
}