<section class="hero-section">
  <div class="container">
    <h1 class="fw-bold">Events</h1>
  </div>
</section>

<section class="document-section modern-style">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10">
        <div class="year-card">
          <h3>2020</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop (March 16, 2020)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop Registration Form</a
            >
          </p>
        </div>
        <div class="year-card">
          <h3>2019</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;
            <a href="#"
              >New Tribunal Member Training Program (October 24, 2019)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;
            <a href="#"
              >New Tribunal Member Training Program Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Agenda (May 6, 2019)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Registration Form</a
            >
          </p>
        
        </div>

        <div class="year-card">
          <h3>2018</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >New Tribunal Member Training Program (October 10, 2018)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >New Tribunal Member Training Program Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Considering Indigeneous Perspective in Decision-Making Registration Form (October 2, 2018)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Agenda (May 7, 2018)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Coference Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop (April 12, 2018)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop Registration Form</a
            >
          </p>
        </div>
        <div class="year-card">
          <h3>2017</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Agenda (May 1, 2017)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Registration Form</a
            >
          </p>
        </div>
        <div class="year-card">
          <h3>2016</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >New Tribunal Member Training Program (October 5,2016)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >New Tribunal Member Training Program Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop (September 30, 2016)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Workshop Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Agenda (May 9,2016)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Registration Form</a
            >
          </p>
        </div>
        <div class="year-card">
          <h3>2015</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >2015 Decision Writing Training Notice (April 21, 2015)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Decision Writing Registration Form</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Agenda (April 20,2015)</a
            >
          </p>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >Conference Registration Form</a
            >
          </p>
        </div>
        <div class="year-card">
          <h3>2014</h3>
          <p>
            <i class="bi bi-file-earmark-text"></i>&nbsp;<a href="#"
              >2014 Conference Agenda (April 28, 2014)</a
            >
          </p>
        </div>
      </div>
      <div class="col-md-1 col-sm-1"></div>
    </div>
  </div>
</section>
