<section class="hero-section">
  <div class="container">
    <h1 class="fw-bold">Resources</h1>
  </div>
</section>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <p>
        MCAT is committed to fostering individuals' knowledge of administartive
        law and justice. In furtherance of the goal, we have provided links to
        the following groups and websites. Please contact us if a group or
        website you are looking for is not currently listed.
      </p>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Council of Canadian Administrative Tribunals</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Canadian Institute for the Administration of Justice</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >British Columbia Council of Administrative Tribunals</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Foundation of Administrative Justice</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Canadian Legal Information Institute (CanLII)</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Society of Ontario Adjudicators and Regulators (SOAR)</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Agencies, Boards and Commissions Manitoba</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Automobile Injury Compensation Appeal Commission</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >The Appeal Commission (Workers Compensation)</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link"
            >Manitoba Clean Environment Commission</a
          >
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link">Manitoba Health Appeal Board</a>
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link">Manitoba Human Rights Commission</a>
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link">Manitoba Labour Board</a>
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link">Manitoba Municipal Board</a>
        </li>
        <br />
        <li class="list-group-item">
          <a href="#" class="resource-link">Public Utilities Board</a>
        </li>
        <br />
      </ul>
    </div>
    <div class="col-md-2 col-sm-2"></div>
  </div>
</div>

<br /><br /><br />
