<section class="hero-section">
  <div class="container">
    <h1 class="fw-bold">Resource Material</h1>
  </div>
</section>
<div class="container mt-5">
  <!-- <h2 class="text-center">Resource Materials</h2> -->
  <div class="row g-3 resource-container">
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-file-earmark-text resource-icon mb-2"></i>
            <h6 class="text-center">Model Code of Conduct</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-signpost resource-icon mb-2"></i>
            <h6 class="text-center">
              Access to Justice - Addressing Roadblocks
            </h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-book resource-icon mb-2"></i>
            <h6 class="text-center">Access to Justice Article</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-universal-access resource-icon mb-2"></i>
            <h6 class="text-center">Accessibility Survey</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-person resource-icon mb-2"></i>
            <h6 class="text-center">Self-Represented Parties Checklist</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-person resource-icon mb-2"></i>
            <h6 class="text-center">Interpreter Guidelines</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-sm-5 d-flex justify-content-center">
      <a href="#" class="text-decoration-none w-100">
        <div class="card resource-card p-3 shadow-sm">
          <div class="d-flex flex-column align-items-center">
            <i class="bi bi-person resource-icon mb-2"></i>
            <h6 class="text-center">Sample Hearing Checklist</h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<br><br><br>