
<section class="hero-section">
  <div class="container">
    <br>
    <h1 class="fw-bold">Executive board</h1>
  </div>
</section>
<section class="container board-container">

  <div class="row g-4">
    <!-- Co-Presidents -->
    <div class="col-md-6">
      <div class="card board-card p-3">
        <p class="board-title">Co-President</p>
        <p class="board-name">Laura Diamond</p>
        <p>
          Chief Commissioner, Automobile Injury Compensation Appeal Commission
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card board-card p-3">
        <p class="board-title">Co-President</p>
        <p class="board-name">Karine Pelletier</p>
        <p>Vice Chair, Manitoba Labour Board</p>
      </div>
    </div>

    <!-- Other Members -->
    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Vice President</p>
        <p class="board-name">Vacant</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Treasurer</p>
        <p class="board-name">Karen Dyck</p>
        <p>Chief Appeal Commissioner, The Appeal Commission (WCB)</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Secretary</p>
        <p class="board-name">Jane Morgan</p>
        <p>Director, Residential Tenancies Branch</p>
      </div>
    </div>

    <!-- Other Board Members -->
    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Darren Christle</p>
        <p>
          Executive Director/Secretary to the Board, Manitoba Public Utilities
          Board
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Kathryn Durkin-Chudd</p>
        <p>Assistant Deputy Minister, Consumer Protection Division</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Azim Jiwa</p>
        <p>
          Director, Corporate Compliance & Risk Management, Manitoba Housing
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Helen Krahn</p>
        <p>Deputy Chief Commissioner, Residential Tenancies Commission</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">MacIsaac</p>
        <p>Registrar, Manitoba Labour Board</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Nunziata Masi</p>
        <p>Deputy Chief Commissioner, Residential Tenancies Commission</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Amanda Racine</p>
        <p>Vice Chair, Social Services Appeal Board</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Pamela Reilly</p>
        <p>
          Deputy Chief Commissioner, Automobile Injury Compensation Appeal
          Commission
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card board-card p-3">
        <p class="board-title">Member</p>
        <p class="board-name">Jonathan Scarth</p>
        <p>Chair, Manitoba Clean Environment Commission</p>
      </div>
    </div>
  </div>
</section>
<br><br>