<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" (click)="navigateHome()">MCAT Manitoba</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/')}" (click)="navigateHome()">Home</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/about')}" (click)="navigateAbout()">About</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/events')}" (click)="navigateEvents()">Events</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/executive-board')}" (click)="navigateExecutiveBoard()">Executive Board</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/by-laws')}" (click)="navigateByLaws()">By-Laws</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/resources')}" (click)="navigateResources()">Resources</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/resource-material')}" (click)="navigateResourceMaterial()">Resource Material</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" [ngClass]="{'active': isActive('/contact')}" (click)="navigateContact()">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <p style="color: #AAABB8;">© The Manitoba Council of Administrative Tribunals 2021</p>
  </div>
</footer>
