<section class="hero-section">
  <div class="container">
    <h1 class="fw-bold">By-Laws</h1>
  </div>
</section>
<div class="container content-container">
  <i class="fas fa-balance-scale icon"></i>
  <!-- <h2 class="main-title">MCAT Code of Conduct</h2> -->
  <p class="content-text">
      The code of conduct for members of the Manitoba Council of Administrative Tribunals (MCAT) is clearly outlined in the General By-Laws of the Council.
  </p>
  <p class="content-text">
      An up-to-date digital copy of <strong>General By-Law No. 1</strong> may be downloaded from the link below.
  </p>
  <a href="assets/by-law.pdf" class="download-btn">
      <i class="bi bi-download"></i> Download General By-Law No. 1
  </a>
</div>